@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .card
    width: 230px
  .packages
    &-description
      &_main
        padding-left: 32px
    &__text
      margin-bottom: 27px
  .image
    &-container
      &_main
        max-width: 315px
  .footer
    &__title
      &_categories
        max-width: 150px
    &__input
      flex-basis: 100%
    &__conditions
      width: 620px

@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    width: 132px
  .search
    &__input
      width: 340px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 47px
    &-menu
      justify-content: flex-start
      padding-top: 22px
      padding-bottom: 22px
      padding-left: 14px
      &__item
        font-style: normal
        font-weight: bold
        font-size: 12px
        line-height: 15px
        &:not(:last-child)
          margin-right: 27px
        &:nth-child(1), &:nth-child(2)
          margin-right: 0
          font-weight: normal

  .breadcrumb
    &-list
      &__item
        &:not(:last-child)
          &::after
            margin-left: 1px
  .hotel
    padding-bottom: 57px
    &-grid
      flex-direction: column
    &-booking
      flex-direction: row
    &-slider
      width: 100%
    &__slider
      margin-bottom: 30px
  .booking
    padding-left: 22px
    padding-right: 22px
    width: 340px
    &-price
      &__pricetag
        line-height: 30px
  .map
    width: 340px
  .packages
    padding-bottom: 60px
    &-title
      font-size: 30px
      line-height: 38px
      margin-bottom: 45px
    &-wrapper
      grid-template: repeat(3, 500px) / repeat(2, minmax(300px, 1fr))
      grid-template-areas: "item_1 item_1" "item_2 item_3" "item_4 item_5"
  .image
    &-container
      &_main
        max-width: 350px
  .newsletter
    padding: 92px 0 93px 0
    &::after
      opacity: 1
    &-wrapper
      max-width: 700px
  .reviews
    padding-bottom: 60px
    &-title
      margin-bottom: 50px
      font-size: 30px
      line-height: 38px
    &-slider
      &__item
        padding-left: 62px
        padding-right: 62px
        max-width: 580px
        &::before, &::after
          display: none
      &__text
        max-width: 455px
  .activities
    padding-bottom: 50px
    &__card
      margin-bottom: 20px
  .card
    width: 340px
  .footer
    padding-top: 66px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      margin-bottom: 54px
    &__logo
      grid-row: 1 / 2
      grid-column: 1
      width: 96px
      margin-bottom: 22px
    &__social
      grid-row: 1 / 2
      grid-column: span 5
      align-self: center
      margin-top: 17px
      margin-left: 57px
    &__list
      margin-bottom: 25px
      &_categories
        grid-row: 2 / 3
        grid-column: span 2
      &_legal
        grid-column: span 2
        margin-left: 5px
      &_information
        grid-column: span 2
        margin-left: -51px
    &__contact
      &-details
        grid-row: 3
        grid-column: span 5
        margin-bottom: 11px
      &-form
        grid-row: 4
        grid-column: span 5
    &__title
      &_categories
        max-width: none
    &__form
      width: 539px
    &__input
      flex-basis: 255px
    &__textarea
      margin-bottom: 21px
    &__conditions
      width: 100%

@media (max-width: 767px)
  body
    padding-top: 78px
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__user
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
          flex-direction: column
          margin-bottom: 27px
    &__search
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
          width: 243px
          margin-left: 0
          margin-bottom: 39px
    &_mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &-bottom
      display: none
      position: fixed
      top: 78px
      right: 0
      bottom: 0
      left: 0
      &_visible
        display: block
        overflow: scroll
    &-menu
      flex-direction: column
      padding: 31px 0
      &__item
        &:not(:last-child)
          margin: 0 0 20px
        &:nth-child(1), &:nth-child(2)
          display: flex
          margin-bottom: 0
  .user
    &__avatar
      margin-bottom: 10px
    &__name
      margin-left: 0
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 18px
      color: $text-color-light
  .menu
    &-button
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      width: 16px
      height: 11px
      padding: 0
      border: none
      background-color: #ffffff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    padding-top: 5px
    padding-bottom: 40px
    &-wrapper
      align-items: start
      justify-content: space-between
    &-stars
      flex-basis: auto
    &-name
      flex-basis: 100%
    &-info
      &__text
        width: 100%
      &__hotel-name
        margin-top: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-top: 0
        margin-bottom: 10px
        margin-left: 0
    &-slider
      height: 350px
    &-booking
      flex-direction: column
      &__map
        margin-top: 30px
  .booking
    width: 100%
  .map
    width: 100%
  .packages
    &-wrapper
      grid-template: repeat(5, 500px) / 1fr
      grid-template-areas: "item_1" "item_2" "item_3" "item_4" "item_5"
    &-description
      &_main
        flex-basis: 50%
    &__title
      font-size: 16px
      line-height: 20px
    &__text
      font-size: 12px
      line-height: 160%
  .image
    &-container
      max-width: none
      width: 100%
      &_main
        flex-basis: 50%
  .newsletter
    padding: 76px 0 83px 0
    &-wrapper
      align-items: start
      flex-direction: column
      max-width: 576px
      width: 92%
    &-title
      max-width: 350px
      margin-bottom: 32px
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 48px
  .reviews
    padding-bottom: 50px
    &-title
      margin-bottom: 42px
    &-slider
      &__item
        padding-left: 30px
        padding-right: 30px
        padding-bottom: 36px
      &__button
        top: 30px
        left: 50%
        transform: translateX(-50%)
        &--prev
          margin-left: -88px
        &--next
          margin-left: 88px
  .card
    max-width: 278px
    width: 48%
  .footer
    &__title
      &_categories
        max-width: 150px

@media (max-width: 576px)
  .logo
    width: 99px
  .hotel
    &-booking
      &__map
        margin-top: 20px
    &-slider
      height: 250px
    &__slider
      margin-bottom: 20px
  .packages
    padding-top: 20px
    padding-bottom: 50px
    &-title
      font-size: 18px
      line-height: 23px
      margin-bottom: 35px
    &-wrapper
      grid-template-rows: repeat(5, fit-content(700px))
    &__item
      &_1
        flex-direction: column
    &-description
      &_main
        width: 100%
        height: auto
        padding: 30px 21px 25px 32px
  .image
    &-container
      &_main
        height: 250px
  .reviews
    &-title
      margin: 0 auto 42px
      max-width: 245px
      font-size: 18px
      line-height: 23px
  .activities
    padding-top: 40px
    padding-bottom: 40px
    &__title
      margin-bottom: 36px
      font-size: 18px
      line-height: 23px
    &__card
      margin-bottom: 20px
      &:nth-child(2)
        margin-bottom: 28px
  .card
    max-width: 576px
    width: 100%
  .footer
    padding-top: 62px
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 29px
      margin-bottom: 29px
    &__logo
      grid-row: 1
      grid-column: 1
      margin-bottom: 9px
    &__social
      grid-row: 2
      grid-column: 1
      margin-top: 0
      margin-left: 0
      flex-wrap: wrap
    &__title
      &_inline
        flex-basis: 100%
        margin-left: 0
        margin-bottom: 22px
      &_categories
        max-width: none
      &_contact-form
        margin-bottom: 15px
    &__list
      &_information
        grid-row: 4
        grid-column: 1
        margin-left: 0
        margin-bottom: 0
      &_legal
        grid-row: 3
        grid-column: 1
        margin-bottom: 0
      &_categories
        grid-row: 5
        grid-column: 1
        margin-bottom: 0
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
        margin-bottom: 6px
      &-form
        grid-row: 7
        grid-column: 1
    &__text
      margin-bottom: 20px
    &__form
      width: 100%
    &__input
      flex-basis: 100%
    &__textarea
      margin-bottom: 14px
    &__info
      margin-bottom: 16px
      flex-basis: 100%
    &__button
      order: 1
    &__conditions
      flex-wrap: wrap
      &-links
        flex-basis: 100%
        margin-bottom: 10px

@media (max-width: 380px)
  body
    padding-top: 72px
  .container
    // костыль?
    max-width: none
    min-width: 280px
  .navbar
    &-top
      padding-top: 24px
    &-bottom
      top: 72px
  .hotel
    &-info
      padding-bottom: 38px
    &-stars
      margin-right: 14px
      margin-top: 5px
    &-name
      line-height: 26px
    &-slider
      height: 180px
      &__button
        &--next
          right: 10px
        &--prev
          left: 10px
  .map
    height: 170px
  .newsletter
    &-wrapper
      padding-left: 7px
      padding-right: 7px
    &-title
      max-width: 280px
    &__subscribe
      width: 100%
  .reviews
    &-slider
      &__text
        max-width: 219px
      &__item
        max-width: 280px
  .footer
    &__form
      max-width: 281px
