*
  box-sizing: border-box
body
  font-family: 'Mulish', sans-serif
  background-color: $background-light
  color: $text-color
img
  max-width: 100%
button
  border: none
  cursor: pointer
  outline: none
input, textarea
  &:focus
    outline: none
.container
  max-width: 1110px
  margin: auto
