*
  box-sizing: border-box
body
  font-family: 'Mulish', sans-serif
  background-color: $background-light
  color: $text-color
img
  max-width: 100%
button
  border: none
  cursor: pointer
  outline: none
.button
  &:hover
    transition-duration: 0.3s
    background-color: $primary-color-hover
a
  &:hover
    transition-duration: 0.3s
    color: $primary-color-hover
input, textarea
  &:focus
    outline: none
.container
  max-width: 1110px
  margin: auto
.overflow
  &_hidden
    overflow-y: hidden
.error
  color: $primary-color
  &_newsletter
    position: absolute
    top: 60px
